
.container {
  color: black;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background: white;
  
}

.icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 100%;
  
}

.icon-div > img{
  width: 80%;
}

.content-div {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.content-div > div > span{
  font-size: 20px;
  color: #8c8c8c;
  font-family:Arial, Helvetica, sans-serif;
}

ion-button {
  --background: rgb(210, 105, 30);
  --box-shadow: 0px 0px 15px rgba(210, 105, 30, 0.5);
  --border-radius: 4px;
  --color: white;
}

.buttons-div {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.container strong {
  font-size: 20px;
  line-height: 26px;
}

.container p {
  font-weight: 500;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.container a {
  text-decoration: none;
}
